.container1 {
  justify-content: center;
  margin-left: 0;
  max-height: 100vh; 
  overflow-y: auto;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: black;

}

th,
td {
  padding: 20px;
  background-color: #fff;
}

th {
  text-align: left;
}

thead th {
  top: 0;
  background-color: #cfd4ed;
}

tbody tr:hover {
  background-color: rgb(11, 10, 10);
}


tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.pagination-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 49px;
}

.pagination-options {
 margin-bottom: 10px;
}

.pagination-options span {
  margin-right: 5px;
}

.pagination-options select,
.pagination-options input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0px;
}

.pagination-options select {
  width: 70px;
}

.pagination-options input {
  width: 70px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.pagination ul {
  display: flex;
  padding: 0;
}

.pagination li {
  width: 38px;
  height: 38px;
  margin: 0 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
  flex-shrink: 0;
}

.pagination li a {
  color: #333;
  text-decoration: none;
}

.pagination li.active {
  background-color: #cfd4ed;
  color: black;
}

.pagination li.active a {
  background-color: #cfd4ed;
  color: black;
  border: none; 
  padding: 8px 0;
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.pagination a {
  color: black;
  text-decoration: none;
  padding: 8px 10px;
  height: fit-content;
  border-radius: 0px;
}

.jump-to-page-container{
  position: relative;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.jump-to-page-input-wrapper {
  margin-bottom: 10px;
}

.jump-to-page-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 80px;
}

.jump-to-page-button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.jump-to-page-button:hover {
  background-color: darkblue;
}
