.container1 {
  justify-content: center;
  margin-left: 0;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  max-height: 85vh;
  overflow-y: scroll;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
table {
  width: 100%;
  height: 100%x;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: black;
}
th,
td {
  padding: 20px;
  background-color: #fff;
  /* color: #fff; */
}
th {
  text-align: left;
}
thead th {
  background-color: #cfd4ed;
}
tbody tr:hover {
  background-color: rgb(11, 10, 10);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.pagination-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 49px;
}

.pagination-options {
  display: flex;
  align-items: center;
}

.pagination-options span {
  margin-right: 5px;
}

.pagination-options select,
.pagination-options input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0px;
}

.pagination-options select {
  width: 70px;
}

.pagination-options input {
  width: 70px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0px;
  cursor: pointer;
}

.pagination li.active {
  font-weight: bold;
  background-color: #cfd4ed;
}

.pagination li:hover {
  text-decoration: underline;
}

.pagination a {
  color: black;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #ccc;
  height: fit-content;
  border-radius: 0px;
}

.pagination a:hover {
  background-color: #f5f5f5;
}
.jump-to-page-input-wrapper {
  display: inline-block;
  position: relative;
}

.jump-to-page-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 80px;
}

.increment-button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.jump-to-page-button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.jump-to-page-button:hover {
  background-color: darkblue;
}
