.nav{
    height: 60px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    color: #000;
}

.nav ul{
    width: 150px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: #000 solid; */
}

.uicon{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 40px;
    height: 35px;
    background-color: #CFD4ED;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}